name: Package and Release

on:
  push:
    branches:
      - main
      - master
    tags:
      - '**'
  release:
    types:
      - published

jobs:
  package:
    runs-on: ubuntu-latest
    permissions:
      contents: write

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Checkout release tag
        if: github.event_name == 'release'
        run: |
          git fetch --tags --prune
          git checkout ${{ github.event.release.tag_name }}

      - name: Package and Upload
        uses: BigWigsMods/packager@v2
        env:
          CF_API_KEY: ${{ secrets.CF_API_KEY }}
          GITHUB_OAUTH: ${{ secrets.GITHUB_TOKEN }}
